/* ====================== */
/*          global        */
/* ====================== */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
* {
    font-family: "Montserrat", sans-serif;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-align: center;
    line-height: 1.8em;
}
body {
    zoom: 100%;
}
h1,
h2,
h3 {
    line-height: 1.3em;
}
.ul-style-none {
    list-style: none;
}
.flex {
    display: flex;
}
.flex-row {
    flex-direction: row;
}
.flex-colomn {
    flex-direction: column;
}
.justify-center {
    justify-content: center;
}
.justify-end {
    justify-content: right;
}
.justify-between {
    justify-content: space-between;
}
.justify-start {
    justify-content: start;
}
.margin-top-regular {
    margin-top: 140px;
}
.margin-top-small {
    margin-top: 50px;
}
.padding-top-regular {
    padding-top: 140px;
}
.padding-bottom-regular {
    padding-bottom: 140px;
}
.padding-top-small {
    padding-top: 50px;
}
.blue {
    background-color: #3185fc;
}
.green {
    background-color: #34e5ff;
}
.font-black {
    color: black;
}
.font-white {
    color: white;
}
.font-blue {
    color: #3185fc;
}
.fit-within-width {
    width: 100vw;
    margin-left: -5.6%;
}

.fit-within-90 {
    width: 90%;
    margin-left: 5%;
}
.fit-within-container {
    width: 100%;
}
.button {
    width: 6.9em;
    height: 2.3em;
    font-size: 1.5rem;
    border-radius: 1000px;
}
a {
    text-decoration: none;
    color: black;
}
a:hover,
a:focus {
    color: #34e5ff;
}

.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.fit-width {
    width: 90vw;
}
.margin-left-mobile {
    margin-left: -15vw;
}
.margin-top-15 {
    margin-top: 15px;
}
.font-size-0-8 p {
    font-size: 0.85rem;
}
.font-size-0-8 {
    padding-bottom: 8px;
}
/* ====================== */
/*          global        */
/* ====================== */

/* ====================== */
/*          nav           */
/* ====================== */
.menu-container {
    width: 50px;
    height: 50px;
    /* margin-right: -40%; */
}
#menu {
    margin-top: -50%;
    width: 60px;
}
/* #nav-container {
    margin-right: 10%;
} */
#ul-logo {
    margin-left: 8%;
    margin-top: -18.5px;
}
#logo-menu-container {
    height: 45px;
}
nav {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #ececec;
}
nav div div:last-child {
    margin-top: 5px;
}
.logo {
    width: 1.3em;
    /* margin-top: -0.5em; */
    margin-left: 4px;
    margin-bottom: -30px;
}
nav div div:last-child a {
    padding: 10px;
}
nav div .nav-div-last li {
    margin: 15px;
}
nav {
    width: 100vw;
}
.current {
    color: #3185fc;
}
.current:hover,
.current:focus {
    color: #3185fc;
    cursor: inherit;
}
/* ====================== */
/*          nav           */
/* ====================== */
/* ====================== */
/*          main          */
/* ====================== */
main {
    width: 90vw;
    margin-left: 5vw;
}
#plans-buttons button {
    width: 25.5%;
    margin: 0 -5px;
    font-size: 1.3rem;
    background-color: rgb(230, 230, 230);
    height: 2em;
    border: grey 2px solid;
    color: #3185fc;
}
#plans-buttons button:last-child {
    border-radius: 0 500px 500px 0;
}
#plans-buttons button:first-child {
    border-radius: 500px 0 0 500px;
}
button#current {
    border: black 2px solid;

    z-index: +1000;
    margin-right: 1px;
}
#price {
    font-size: 3rem;
}
#price-mobile {
    font-size: 3rem;
}
#price-b {
    margin-top: -15px;
}
.plan-container {
    border: grey 1px solid;
    padding: 5vw;
    width: 90vw;
}
.price-container {
    border-bottom: #34e5ff 2px solid;
}
#plan-mobile {
    padding-bottom: 15px;
    border-bottom: #34e5ff 1px solid;
}
/* ====================== */
/*          main          */
/* ====================== */

/* ====================== */
/*          Footer        */
/* ====================== */
footer {
    background-color: rgb(40, 40, 40);
    padding-top: 25px;
    padding-bottom: 25px;
    color: white;
}
footer h3 {
    color: white;
    font-size: 1.5rem;
}
#logo-footer {
    margin-left: 3px;
    margin-top: -5px;
    margin-bottom: 0;
}
/* ====================== */
/*          Footer        */
/* ====================== */
/* ====================== */
/* responsive-web-design  */
/* ====================== */

@media screen and (orientation: landscape) {
    .media-flex-row {
        flex-direction: row;
    }
    .media-fit-content {
        width: fit-content;
    }
    .media-justify-between {
        justify-content: space-between;
    }

    .margin-top-regular {
        margin-top: 100px;
    }
    .margin-top-small {
        margin-top: 50px;
    }
    .margin-left-5 {
        margin-left: 10%;
    }
    .padding-top-regular {
        padding-top: 100px;
    }
    .padding-bottom-regular {
        padding-bottom: 100px;
    }
    .padding-top-small {
        padding-top: 50px;
    }
    .button {
        width: 6.9em;
        height: 1.9em;
        font-size: 1.2rem;
    }
    .fit-within-90 {
        width: 80%;
        margin-left: 10%;
    }
    .fit-within-width {
        width: 98.8vw;
    }
    .fit-90 {
        width: 80vw;
    }
    .margin-left-8 {
        margin-left: 9%;
    }
    /* ====== nav ====== */
    nav {
        padding: 0;
        background-color: white;
        width: 95.8vw;
    }
    .margin-left-mobile {
        margin-left: -2vw;
    }
    nav div .nav-div-last li {
        padding: 0;
        margin: 0;
        margin-top: 5px;
        font-size: 1rem;
        margin-left: 40px;
    }
    p {
        font-size: 1rem;
    }
    #ul-logo {
        font-size: 1rem;
        margin-left: 5vw;
    }
    #nav-container {
        width: 85%;
    }
    #nav-header {
        height: 2rem;
    }
    /*====== nav ======= */
    /*====== main ======= */

    .plan-container {
        width: 20vw;
        padding: 5px;
        border: 0;
        font-size: 1rem;
    }
    #plan {
        padding-bottom: 15px;
        border-bottom: #34e5ff 1px solid;
    }
    #price {
        font-size: 2.25rem;
    }
    #mobile-display-none {
        padding: 5px 0 5px 0;
        border-bottom: #34e5ff 1px solid;
        margin-bottom: 5px;
        color: #3185fc;
        font-size: 3rem;
        padding-bottom: 0px;
    }
    .price-container {
        border-bottom: #34e5ff 1px solid;
        padding: 15px;
    }
    main b {
        height: 40px;
    }
    main {
        width: 80vw;
        margin-left: 8vw;
    }
    /*====== main ======= */
}
@media screen and (orientation: portrait) {
    #mobile-display-none {
        display: none;
    }
    .mobile-display-none {
        display: none;
    }
}
/* ====================== */
/* responsive-web-design  */
/* ====================== */
